/* Body Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
}

/* Nav Styles */
nav ul a {
  font-size: 1.5em;
}
.nav ul > li {
  list-style-type: none;
  display: inline-block;
  background-color: #ee6e73;
  color: white;
}
.fa {
  color: white;
}
.side-nav {
  width: 200px;
}
.side-nav li>a {
  color: #ee6e73;
}
.side-nav img{
  width: 20vh;
  height: 20vh;
  margin: 10em 0 1em 1.5em;
}

/* Canvas Tag */
.text {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
canvas {
  width: 100%;
  height: 100%;
}

/* ABOUT ME STYLES */
.box-info {
  width: 100%;
  padding-top: 5%;
  font-size: 1.5em;
  color: #43485f;
  text-align: justify;
}
#sobre {
  min-height: 100vh;
}
#about {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #43485f;
}
.img-profile {
  width: 40vh;
  height: 40vh;
  margin-top: 10rem;
}
/*SKILLS*/
#skills {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 3em;
  background: url(../img/codecode.jpg);
  background-position: center center;
  object-fit: cover;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  text-align: justify;
}
#skills img{
  height: 0.7em;
}
.icon {
  font-size: 5em;
  color: white;
  cursor: pointer;
}
.tool {
  margin-top: 3em;
}
/*PROJECTS*/
.background-three {
  width: 100%;
  min-height: 100vh;
  background-color: #1c9c87;
}

.title-work h1 {
  color: #fff;
  padding-top: 1em;
}

/*CONTAC ME*/
.contact-icons-list {
  position: relative;
  list-style-type: none;
  text-align: center;
  font-size: 30px;
}

.contact-icons-list li, .contact-icons-list li:after {
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 50%;
  color: white !important;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#contact ul>li {
  list-style-type: none;
  display: inline-block;
  background-color: #ee6e73;
  color: white;
}*/
.fa {
  color: white;
}
#contact {
  color: #43485f;
}

#contact ul:not(.browser-default) > li {
  list-style-type: none;
  margin: 1em;
}

.contact-icons-list {
  position: relative;
  list-style-type: none;
  text-align: center;
  font-size: 30px;
}

.contact-icons-list li,
.contact-icons-list li:after {
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 50%;
  color: white !important;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* FOOTER STYLES */
footer {
  background-color: #ef7b84;
  color: #fff;
  height: 5em;
}
footer p {
  padding-top: 1em;
  font-size: 1.4em;
}